<a href="https://colab.research.google.com/github/souzajvp/teaching-python/blob/main/Aula05/Abrir_e_manipular_arquivos_no_pandas_Aula05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importando módulos
O `pandas` é um pacote que é ótimo para fazer manipulação, tratamento e plotagem de dados. Sempre usaremos ele daqui pra frente

In [1]:
import pandas as pd

Para carregar nossos dadados, podemos utilizar o endereço da web (url) somada à função `pd.read_csv()`.

**Obs**: a `pd.read_csv()` espera, por padrão, que os dados estejam separados por vírgulas (*comma separated value*).
***
Assim como a maioria dos pacotes e funções, a função `pd.read_csv()` possui uma série de parâmetros que permitem uma "customização" da leitura de um arquivo.
Por exemplo, podemos:
1. Ler arquivos separados por ponto e vírgula (`;`) usando a especificação `separator=';'` --> `pd.read_csv(url, separator=';')`;
2. Ler arquivos que estão comprimidos ou "zipados", através do argumento `compression='zip'` --> `pd.read_csv(url, compression='zip')`.

Basicamente, o céu é o limite. Basta procurarmos no Google: **Como ler arquivos no formato zip com o pandas?** *ou* **Read zip files pandas**

Este é o endereço da nossa base de dados, armazenada no meu [GitHub](https://github.com/souzajvp/teaching-python).

In [2]:
url = 'https://raw.githubusercontent.com/souzajvp/teaching-python/main/tb_parana_2016.csv'

Podemos então atribuir um nome para o nosso banco de dados, como se fosse uma variável qualquer.

Agora, podemos fazer a visualização das primeiras linhas de código usando o método `.head()`

   DT_NOTIFIC  ID_MUNICIP     DT_DIAG  ...  TEST_SENSI ANT_RETRO  BAC_APOS_6
0  2017-02-10      410690  2016-10-10  ...         NaN       NaN         NaN
1  2017-01-25      411370  2016-12-30  ...         6.0       1.0         NaN
2  2016-03-31      410690  2016-03-31  ...         NaN       NaN         4.0
3  2016-11-11      410230  2016-11-07  ...         NaN       NaN         2.0
4  2016-05-20      411210  2016-05-20  ...         5.0       2.0         NaN

[5 rows x 52 columns]

Com o método `.head()`, podemos ter uma noção geral do formato dos nossos dados e quais variáveis diferentes.

**Obs**: Alternativamente, podemos usar o método `.tail()` para ver as últimas linhas do banco.

## Trabalhando com a variável `CS_RACA`

Podemos selecionar uma variáveil do nosso banco usando a notação: `dados["nome da variável"]`

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
2532    1.0
2533    9.0
2534    1.0
2535    4.0
2536    1.0
Name: CS_RACA, Length: 2537, dtype: float64

Ao fazer a seleção de uma variável, recebemos todos os valores que estão armazenados nela, parecido com uma **lista**. 

**Obs**:Especificamente no pandas, essa "lista" que contém também índices é chamada de **Series**.

Vamos avaliar o tipo dessa variável

pandas.core.series.Series

Vemos então que este elemento, é uma **Series**. Porém é importante lembrarmos que **Series** é o tipo do elemento, e não dos dados dentre dele.

### Por exemplo, vamos avaliar o primeiro item presente na nossa vairável `CS_RACA`.
**Obs**: Assim como nas listas, podemos acessar os itens usando os colchetes.

1.0

Podemos também criar uma nova variável para armazenar esse valor.

Agora podemos avaliar o tipo deste primeiro item

numpy.float64

Bom, temos que **o primeiro paciente tinha raça 1.0, que é do tipo float** (decimal). 

<font color='red'> >> </font>Isso faz sentido?

Na verdade, olhando o a ficha de notificação de casos de TB, vemos que:
* 1 = Branca;
* 2 = Preta;
* 3 = Amarela;
* 4 = Parda;
* 5 = Indígena;
* 9 = Ignorado.

Avaliando os valores únicos presentes na nossa variável

array([ 1.,  3.,  2.,  4.,  9.,  5., nan])

**Como podemos fazer a subistituição?**

Opções:
1. **Método `.replace()`;**
2. Método `.map()`;
3. Loop for e listas.
***
Dentre essas opções, a mais simples e direta é o método `.replace()`. Ele recebe como argumentos duas listas:
* A primeira contém os valores antigos;
* A segunda contém os valores novos.

In [12]:
# Valores antigos

In [13]:
# Valores novos

Realizando a substituição

0         Branca
1         Branca
2         Branca
3         Branca
4         Branca
          ...
2532      Branca
2533    Ignorado
2534      Branca
2535       Parda
2536      Branca
Name: CS_RACA, Length: 2537, dtype: object

<font color='red'>**Atenção**!</font> Como não inserimos a nova versão da variável `CS_RACA` no banco de dados, a alteração não foi salva!

0         Branca
1         Branca
2         Branca
3         Branca
4         Branca
          ...
2532      Branca
2533    Ignorado
2534      Branca
2535       Parda
2536      Branca
Name: CS_RACA, Length: 2537, dtype: object

### Avaliando o efeito da raça na notificação de TB em 2016 no PR.

Para isso, podemos usar o método `.value_counts()` que vimos na aula anterior.

Branca      1698
Parda        616
Preta        165
Ignorado      22
Amarela       20
Indígena      11
Name: CS_RACA, dtype: int64

### O que isso nos diz?
1. Brancos são geneticamente mais suscetíveis à TB?
2. Ou ainda, Pretos e Pardos tem alguma proteção natural contra a TB?
3. Amarelos são praticamente imunes à TB?
***

**Não podemos chegar a esse tipo de conclusão!**
1. A declaração/reconhecimento étnico no Brasil é um assunto delicado;
2. O Paraná é sabidamente um estado que foi colonizado por populações européias. 

Segundo a [Wikipédia](https://pt.wikipedia.org/wiki/Demografia_do_Paraná#Composição_étnica), temos 70% de Brancos; 22,35% de Pardos; 3,15% de Pretos; 1.19% de Amarelos e 0.25% de Indígenas no Paraná.

Avaliando as porcentagens

Branca      67.061611
Parda       24.328594
Preta        6.516588
Ignorado     0.868878
Amarela      0.789889
Indígena     0.434439
Name: CS_RACA, dtype: float64

Aparentemente, temos o dobro de Pretos afetados.

### Para terminar, como podemos salvar o arquivo para próximas aulas?

Isso é super fácil! Basta usar o método `.to_csv()`, que vai transformar nossos dados em um arquivo .csv.

Basta passarmos o nome+formato do arquivo e se queremos manter o índice ou não. O arquivo fica salvo no ícone da pastinha.

#### 1 - Qual função é usada para lermos arquivos no formato ".csv" usando o pacote pandas?
#### 2 - Qual função é utilizada para exibir as primeiras linhas do nosso banco de dados? <font color='red'>Como faríamos para exibir as primeiras 4 linhas?</font>
#### 3 - Como faríamos para verificar quantas pessoas de cada sexo (variável "CS_SEXO") tiveram TB no paraná?

#### 4 - Substitua os valores "M" e "F" por "Masculino" e "Feminino" no banco de dados usando o método `.replace()`

#### 5 - Por fim, salve o banco de dados com o nome "arquivo_seu_nome.csv" e envie pra mim por e-mail.