<a href="https://colab.research.google.com/github/souzajvp/teaching-python/blob/main/Aula07/Agregando_dados_%C3%A0_nossa_base_Aula07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importando módulos

In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/souzajvp/teaching-python/main/dados_tb_pr_2016_aula05.csv'

## Agregando informações ao nosso banco de dados
O diferencial de um pesquisador (ou cientista de dados) é a capacidade de enxergar além dos dados disponíveis. 

Assim, que tal adicionarmos informações dos municípios do PR para auxiliar nas análises?

Usando o [TabNet](https://datasus.saude.gov.br/informacoes-de-saude-tabnet/), coletei informações populacionais do PR obtidas através do Censo Populacional de 2010. Em seguida, fiz o upload do banco no meu [GitHub](https://github.com/souzajvp/teaching-python/blob/main/pop_parana_2010.csv).

In [3]:
url = 'https://raw.githubusercontent.com/souzajvp/teaching-python/main/pop_parana_2010.csv'

Uma característica comum dos bancos de dados extraídos do TabNet é a presença de linhas extras e caracteres incomuns.

Assim, vai ser necessário especificar alguns comandos no momento de ler os dados com o `pd.read_csv()`. encoding='ISO-8859-1'

* `skiprows` e `skipfooter` são usados para pular linhas inicias e finais, respectivamente;
* `sep` nos permite especificar qual o separador dos campos utilizado;
* `encoding` permite que o pandas leia arquivos com caracteres diferentes do inglês. De modo geral, teremos que usar o encoding para ler bancos em português.

A coluna `Município` trás uma sequência de 6 dígitos seguida pelo nome da cidade. Este formato não é muito útil para nós.

### Modificando dados de uma coluna

Para facilitar nosso trabalho, podemos selecionar apenas os primeiros 6 dígitos de cada valor na coluna `Município` e criar uma nova variável. Isso pode ser feito usando o método `.str` do pandas, que nos permite trabalhar com o conteúdo de texto dentro de cada coluna.

Criando a variável `ID_MUNICIP`. 

**Obs**: aqui vamos usar o mesmo padrão do banco de dados original.

Criando a variável `NOME_MUN`.

### Removendo e renomeando variáveis
Após realizar as modificações necessárias, podemos "limpar o nosso banco".

Para remover colunas podemos:
1. Renomear o nosso banco, selecionando apenas as colunas desejadas;
2. Usar o método `.drop()`.

Para a função drop, temos que especificar o *axis* (eixo) pois ela funciona para remoção de linhas e colunas. `axis=0` para linhas e `axis=1` para colunas.

Para renomear colunas, podemos renomear a variável `populacao.columns` com a lista de novos nomes que desejamos. Nesse caso, apenas queremos mudar o nome da primeira variável (2010), assim vamos repetir os nomes das outras e alterar o primeiro para `POP_2010`.

### Fundindo os dois bancos
Existem diversos modos de realizar a junção de bancos. Um método bem simples é o `.merge()`.

Para usá-lo, vamos trabalhar da seguinte forma:
`dados.merge(populacao, on ='ID_MUNICIP`)

Antes de realizarmos o merge, precisamos checar o tipo de dado das colunas.

Mudando o tipo de dados do `ID_MUNICIP` do banco `populacao` para `int`. Isso pode ser feito usando o método `.astype(int)`

Realizando o merge

Atualizando o banco de dados com a nova versão

### Quais cidades apresentaram o maior número de casos?

### E se consideramos o número de habitantes?
Fica pra próxima aula!